@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
@import "scss/colors";
@import "scss/transitions";

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  max-width: 1440px;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: $off-white;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
}

@import "scss/homepage";
@import "scss/app";

@import "scss/mediaqueries";
