$white: #ffffff;
$off-white: #f3f0f1;
$black: #333333;

$blue: #4791db;
$mid-blue: #1976d2;
$dark-blue: #115293;

$pink: #e33371;
$mid-pink: #dc004e;
$dark-pink: #9a0036;

$orange: #ffb74d;
$mid-orange: #ff9800;
$dark-orange: #f57c00;

$nude: #e3bc9a;
